<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport">

    <style>
        body {
            background-color: black;
            color: #ff1493;
        }

       .botao {
          font-family: 'Julius Sans One', sans-serif;
          color: #ff1493;
          background-color: transparent;
          border: none;
          padding: 400px;
          font-size: 70px;
          text-decoration: none;
        }

          img {
            position: fixed;
            left: 0.1%;
          }

    </style>

    <title>SoulBank</title>

  </head>

  <body>
    <center>
      <img src="../imagens/logo.png" height="50px" width="50px">
      <button class="botao">SoulBank
        <!--<a href="https://github.com/BrunoozL?tab=repositories">SoulkBank</a>-->
      </button>
    </center>
  </body>
</html>